<!-- Blog Entries Column -->
<section class="col-md-8">
	<h1 class="page-header">Show {{ x }} posts</h1>
	<!-- Begin Post -->
	<article ng-repeat="post in data.posts | filterPosts: currentPage">
		<header>
			<h2>
				<a href="#/post/{{ sanitize(post.title) }}">{{ post.title }}</a>
			</h2>

			<p>
				<small class="glyphicon glyphicon-user"></small>
				by <a href="#/posts?author={{ sanitize(post.author) }}">{{ post.author }}</a>
			</p>
			<p>
				<small class="glyphicon glyphicon-time"></small>
				Posted on {{ post.date | date }}
			</p>
		</header>

		<!-- Post Description -->
		<p>{{ post.description }}</p>
		<br>

		<footer class="clearfix">
			<p class="pull-left">
				<b>Tags:&nbsp;</b>
				<a href="#/posts?category={{ sanitize(tag) }}" class="label label-default post-tag" ng-repeat="tag in post.tags">{{ tag }}</a>
			</p>

			<a class="btn btn-primary pull-right" href="#/post/{{ sanitize(post.title) }}">
				Read More <i class="glyphicon glyphicon-chevron-right"></i>
			</a>
		</footer>
		<hr>
	</article>
	<!-- End of Post -->

	<!-- Pager -->
	<ul class="pager">
		<li class="previous">
			<a href="#posts/{{ currentPage + 1 + currentFilter}}">&larr; Older</a>
		</li>
		<li class="next">
			<a href="#posts/{{ currentPage - 1 + currentFilter}}">Newer &rarr;</a>
		</li>
	</ul>
</section>

<ng-include src="'sidebar.html'"></ng-include>
