<!-- Blog Entries Column -->
<section class="col-md-8">
	<h1 class="page-header">All Posts</h1>
	<!-- Begin Post -->
	<article ng-repeat="post in data.posts">
		<header>
			<h2>
				<a href="#/post/{{ sanitize(post.titles) }}">{{ post.titles }}</a>
			</h2>

			<p>
				<small class="glyphicon glyphicon-user"></small>
				by <a href="#">{{ post.author }}</a>
			</p>
			<p>
				<small class="glyphicon glyphicon-time"></small>
				Posted on {{ post.date | date }}
			</p>
		</header>
		<hr>

		<figure>
			<img class="img-responsive" src="{{ post.image }}"
				alt="">
		</figure>
		<hr>

		<!-- Post Description -->
		<p>{{ post.description }}</p>
		<br>

		<footer class="clearfix">
			<p class="pull-left">
				<b>Tags:&nbsp;</b>
				<a href="#" class="label label-default post-tag" ng-repeat="tag in post.tags">{{ tag }}</a>
			</p>

			<a class="btn btn-primary pull-right" href="#/post/{{ sanitize(post.titles) }}">
				Read More <i class="glyphicon glyphicon-chevron-right"></i>
			</a>
		</footer>
	</article>
	<hr>
	<!-- End of Post -->

	<!-- Pager -->
	<ul class="pager">
		<li class="previous">
			<a href="#">&larr; Older</a>
		</li>
		<li class="next">
			<a href="#">Newer &rarr;</a>
		</li>
	</ul>
</section>
