<!-- Blog Sidebar Widgets Column -->
<aside class="col-md-4">

	<!-- Blog Search Well -->
	<div class="well" ng-controller="SearchCtrl">
		<h4>Search</h4>
		<form class="input-group" ng-submit="check()">
			<input type="text" class="form-control" ng-model="query">
			<span class="input-group-btn">
				<button class="btn btn-default" type="submit">
					<span class="glyphicon glyphicon-search"></span>
			</button>
			</span>
		</form>
		<!-- /.input-group -->
	</div>

	<!-- Blog Categories Well -->
	<div class="well" ng-controller="FiltersCtrl">
		<h3>Filter Posts</h3>

		<div class="list-group">
			<a href="#/{{ route }}" class="list-group-item" ng-class="isActive(key)">
				<span class="badge">{{ numPosts }}</span>
				Show All Posts
			</a>
		</div>

		<h4><small class="glyphicon glyphicon-tag"></small> Category</h4>
		<div class="list-group">
			<a href="#/{{ route + param + '?category=' + sanitize(key) }}" class="list-group-item"
			ng-repeat="key in keyUp(categories)" ng-class="isActive('category=' + sanitize(key))">
				<span class="badge">{{ categories[key] }}</span>
				{{ key }}
			</a>
		</div>

		<h4><small class="glyphicon glyphicon-user"></small> Author</h4>
		<div class="list-group">
			<a href="#/{{ route + param + '?author=' + (sanitize(key)) }}" class="list-group-item" ng-repeat="key in keyUp(authors)" ng-class="isActive('author=' + sanitize(key))">
				<span class="badge">{{ authors[key] }}</span>
				{{ key }}
			</a>
		</div>

		<h4><small class="glyphicon glyphicon-time"></small> Month</h4>
		<div class="list-group" ng-repeat="key in keyUp(years)">
			<span href="#/" class="list-group-item disabled">
				{{ key }}
			</span>
			<a href="#/{{ route + param + '?date=' + (sanitize(key2) + key) }}" class="list-group-item" ng-repeat="key2 in keyUp(years[key])" ng-class="isActive('date=' + sanitize(key2) + key)">
				<span class="badge">{{ years[key][key2] }}</span>
				{{ key2 }}
			</a>
		</div>
	</div>
</aside>
